<%= form_for(@time_search) do |f| %>
  <% if @time_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_search.errors.count, "error") %> prohibited this time_search from being saved:</h2>

      <ul>
      <% @time_search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
