<h1>Listing time_searches</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_searches.each do |time_search| %>
      <tr>
        <td><%= link_to 'Show', time_search %></td>
        <td><%= link_to 'Edit', edit_time_search_path(time_search) %></td>
        <td><%= link_to 'Destroy', time_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time search', new_time_search_path %>
