

<h1>Period Search</h1>

<%= form_for (@search) do |f|%>

    <div class="field">
      <%=f.label :start_date%><br />
      <%=f.date_select :start_date, :order => [:month, :day, :year]%>
    </div>

    <div class = "field">
      <%f.label :end_date%><br />
      <%=f.date_select :end_date, :order => [:month, :day, :year]%>
    </div>

    <div class="actions">
      <%=f.submit "Search"%>
    </div>
<%end%>

<%= link_to 'Back', searches_path %>