<h1>Product Avg Search</h1>

<p>Please enter a Product ID to show the average number of that item sold per week</p>

<%= form_for (@search) do |f|%>

    <div class="field">
      <%=f.label :item_id%><br />
      <%=f.text_field :item_id%>
    </div>

    <div class="actions">
      <%=f.submit "Search"%>
    </div>
<%end%>