<h1>Quantity Search</h1>

<p>Select a number to show all products with <= to that number</p>

<%= form_for (@search) do |f|%>

    <div class="field">
      <%=f.label :quantity%><br />
      <%=f.text_field :quantity%>
    </div>

    <div class="actions">
      <%=f.submit "Search"%>
    </div>
<%end%>


<%= link_to 'Back', searches_path %>
