
<%if @search.quantity!=nil%>
    <%= render :partial => 'items/items'%>

    <%if @search.item_id!=nil%>
        <%= render :partial => "searches/avgSearch"%>

    <%else%>
        <%= render :partial => "transactions/periodReport"%>
    <%end%>
<%end%>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>