<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.collection_select :item_id, Item.all, :id, :name, :quantity =>true %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
    <div class="field">
      <%= f.label :tran_qty %><br>
      <%= f.text_field :tran_qty %>
    </div>
  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.text_field :total_price %>
  </div>

    <div class="field">
      <p>Amount Owed</p>
      <%= text_field_tag :amount_owed %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= javascript_include_tag "transactions" %>