<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Date</th>
      <th>Total price</th>
      <th>Tran qty</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.item_id %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.total_price %></td>
        <td><%= transaction.tran_qty %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
