<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @transaction.item_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @transaction.total_price %>
</p>

<p>
  <strong>Tran qty:</strong>
  <%= @transaction.tran_qty %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
