<!DOCTYPE html>
<html>
<head>
  <title>ClassProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%=link_to "Items", items_path%>
  <%=link_to "Transactions", transactions_path%>
  <%=link_to "Searches", searches_path%>
</head>
<body>

<%= yield %>

</body>
</html>
